{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1><u>Welcome to Umber's FlaskApp</u></h1><br /><br />

        <div class="container text-left">
            {% for comment in comments %}
                <div class="row" style="margin-bottom: 1ex">
                    <div>
                        {{ comment.content }}
                    </div>
                    <div>
                        <small>Posted {{ timestamp.strftime("%A, %d %B %Y at %H:%M") }} by anonymous</small>
                    </div>
                </div>
            {% endfor %}

<!--The comment input field form-->
        {% if current_user.is_authenticated %}
            <div class="row">
                <form action="." method="POST">
                    <textarea name="contents" placeholder="Enter a comment" class="form-control"></textarea>
                    <input type="submit" class="btn btn-success" value="Post comment">
                </form>
            </div>
        {% endif %}
<!--The comment input field form-->

        </div>
    </div>

{% endblock %}

<!--End of file-->